# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\POS\JPA_Lab11\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
